<h1 style="text-align: center; font-family: 'Raleway', sans-serif; margin-top: -240px;">Sumzy Feed</h1>

<div id="feed_container">
  <%= render partial: "feed", collection: @facebook_feed, as: :feed_item %>
  <%= render partial: "twitter_feed", collection: @twitter_feed, as: :feed_item %>
</div>
