<div class="center" style="margin-top: -250px;">

	<h5 class="sign_up_text">Edit <%= @user.first_name %>'s Profile</h5>

	<%= render 'form' %>

	 <p>
	  	<%= link_to 'Cancel', feeds_path %>
	</p>


</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
