<br />
<br />

<div class="center" style="margin-right: 200px; float: right;">

 <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/facebook-login-logo.png"), "/auth/facebook", :class => "profile_link") %>
 <br />

 <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/twitter-login-logo.png"), "/auth/twitter", :class => "profile_link") %>

</div>


<div class="center" style="margin-left: 100px; float: left;">
        <img class="center" alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-Logo-Smaller-1.png">
        <br />
				<h3 style="text-align: center; font-size: 18px">"Sum Up & Summarize Your Social Media"</h3>

</div>

<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />

