<br />
<br />
<div style="margin-top: -280px;">

<br />

    <div class="center" >
      
         <h1 style="text-align: center; font-family: 'Raleway', sans-serif;">"Summarize Your Social Media"</h1>
         <br />
            <h2 style="text-align: center; font-family: 'Raleway', sans-serif; font-size: 90px; margin-top: -30px;" class="center">Sumzy</h2>
           
    </div>

<!-- FACEBOOK AND TWITTER LOGIN BUTTONS -->
    <div class="center" style="text-align: center; font-family: 'Raleway', sans-serif;">
        <h3 style="text-align: center; font-family: 'Raleway', sans-serif;">Sign Up via Facebook or Twitter!</h3>
         Then sync all your other accounts.
        <br />

            <div style="display: inline-block; margin: 5px 0 0 0; padding: 5px 0 0 0; width: 260px;">
                <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/facebook-login-logo.png"), "/auth/facebook") %>
            </div>
            <div style="display: inline-block; margin: 5px 0 0 0; padding: 5px 0 0 0; width: 260px;">   
                <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/twitter-login-logo.png"), "/auth/twitter") %>
            </div>
    </div>


<br />
<br />


<hr />




</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />