<br />
<br />
<div style="margin-top: -200px; background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #BDE2FF 100%);">

<br />

    <div class="center" >
      
         <h1 style="text-align: center; font-family: 'Raleway', sans-serif;">"Summarize Your Social Media"</h1>
         <br />
            <img class="center" alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-Logo-Smaller-1.png">
           
    </div>

    <div class="center" style="text-align: center; font-family: 'Raleway', sans-serif;">

        <h3 style="text-align: center; font-family: 'Raleway', sans-serif;">Sign Up via Facebook or Twitter!</h3>
         Then sync all your other accounts.
        <br />

            <div style="display: inline-block; margin: 5px 0 0 0; padding: 5px 0 0 0; width: 260px;">
                <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/facebook-login-logo.png"), "/auth/facebook") %>
            </div>
            <div style="display: inline-block; margin: 5px 0 0 0; padding: 5px 0 0 0; width: 260px;">   
                <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/twitter-login-logo.png"), "/auth/twitter") %>
            </div>

             

    </div>


<br />
<br />


<hr />




</div>