<br />

              <div class="center">


                <img class="center" alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-Logo-Smaller-1.png">
                <br />
				<h3 style="text-align: center; font-size: 18px">"Summarize Social Media"</h3>
              </div>

<br />
<br />

