<br />
<br />
<div style="margin-top: -200px;">

<br />

    <div class="center" >
            <img class="center" alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-Logo-Smaller-1.png">
            <br />
    				<h3 style="text-align: center; font-size: 18px">"Summarize Your Social Media"</h3>

    </div>

    <br />
    <br />




    <div class="center">
<br/>
    <h3>Sign Up via Facebook or Twitter!</h3>
     Then sync all your other accounts.
    <br />

     <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/facebook-login-logo.png"), "/auth/facebook", :class => "profile_link") %>
     <br />

     <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/twitter-login-logo.png"), "/auth/twitter", :class => "profile_link") %>

    </div>









    <br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br />

</div>