
<div style="margin-top: -170px">
<h1>Music</h1>

<!-- Play by genre -->
<h1>Popular Genres</h1>
	<ul>
		<li><a href="#" class="genre">electronic</a></li>
		<li><a href="#" class="genre">dubstep</a></li>
		<li><a href="#" class="genre">rock</a></li>
	</ul>


	<div id="target" style="heigh: 800px;">
		<!-- SOUNDCLOUD PLAYER LOADS HERE -->
	</div>

</div> 