
<div style="margin-top: -170px">
<h1>Music</h1>

<div class="soundCloudAuth">
	<a href="#" class="scLoginButton"><img src="http://connect.soundcloud.com/2/btn-connect-sc-l.png"></a>
</div>


<!-- Play by genre -->
<h1>My SoundCloud</h1>
	<ul>
		<li><a href="#" class="genre">electronic</a></li>
	</ul>


	<div id="target">
		<!-- SOUNDCLOUD PLAYER LOADS HERE -->
	</div>

</div> 