<%# add navigation links to this file %> 
<ul class="nav navbar-nav" style="text-align: center; margin-left: 20px; float: left; margin-top: -13px; background-color: white;">
<li><%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-home-navbar-icon-sm4.png"), feeds_path('feeds'), :class => "profile_link") %></li>

<li style="display: inline;">
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-music-icon-sm5.png"), pages_music_path('music'), :class => "profile_link") %>
</li>


<li style="display: inline;">
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-search-navbar-icon-sm4.png"), profiles_path('profiles'), :class => "profile_link") %></li>


<li style="margin-top: 3px;"> 
  <% if current_user %>
    <%= link_to(image_tag(current_user.remote_image_url), profile_path(current_user), :class => "profile_img" ) %> 
    <% else %>
  <% end %>
</li>
</ul>


