<br /><br />
<br /><br />
<br />


<footer class="footer">
  <div class="center">
    <hr />
    <div style="text-align: center;">
      Made at <a href="http://la.startupweekend.org">Startup Weekend</a> in <a href="http://en.wikipedia.org/wiki/Santa_Monica" target="_blank">Santa Monica, CA</a></div>
  </div>
</footer>

