<div class="navbar">

  <ul class="nav" style="margin-top: 6px;">
    
    <li>
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-navbar-search-icon-1.png"), pages_search_path('search'), :class => "profile_link") %>
    </li>
    <li>
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-photo-navbar-icon-1.png"), pages_photos_path('photos'), :class => "profile_link") %>
    </li>
    <li>
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-music-navbar-icon-1.png"), pages_music_path('music'), :class => "profile_link") %>
    </li>
    <li>
      <%= link_to(image_tag("http://cloud-media.com/wp-content/uploads/2013/11/sumzy-video-navbar-icon-1.png"), pages_videos_path('videos'), :class => "profile_link") %>
    </li> 
      

  </ul>





</div>















