<div class="container">

  <ul class="nav" style="margin-top: -5px;">
    <li><a href="/">
        <img alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-NavBar-Logo-Smaller-1.png">
      </a></li>
  </ul>

  <ul class="nav" style="margin-top: 6px;">
    
    
   
  </ul>

  <ul class="nav pull-right" style="margin-top: 6px;">
  <% if current_user %>
    <%= "#{current_user.first_name} in the house" %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
  </ul>

</div>















